{# app/Ressources/view/accueil/condiytions.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Conditions{% endblock %}

{% block titlehead %}
<h1>Conditions</h1> 
{% endblock %}

{% block body %}
Voici les conditions à respecter : 
            <ul>
            <li>L'objet à vendre doit être basé en France </li>
            <li>Le vendeur doit être un particulier et no un professionnel.</li>
            </ul>
{% endblock %}



        