
    <div class="nav" id="menu">
        <ul>
            <li><a href="{{path('homePage')}}"> Accueil</a> </li>
            <li><a href="{{path('AnnoncePage')}}">Annonces</a></li>
            <li><a href="{{path('conditionPage')}}"> Conditions</a> </li>    
            <li><a href="{{path('contactPage')}}"> Contact </a></li>
        </ul>
    </div>


