{# app/Ressource/view/annonce/succes.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/Annonces{% endblock %}

{% block titlehead %}
<h1>Annonces</h1> 
{% endblock %}
{% block body %} <p style="color:green;font-size:40px">Success</p> {% endblock %}