h1{
    margin:auto;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
footer{
    margin:auto;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.nav div{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the link color to #111 (black) on hover */
.nav  a:hover {
    background-color: #111;
}


.active {
    background-color: #4CAF50;
}

form{
    margin:auto;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;   
}

.Annonces{
    text-align: center;
    margin:auto;
}


.image{   
    margin:10px;   
    float: right;
}

img{
    margin:10px;
}

.nbAnnonces{
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;
    float: right;
}