h1{
    margin:auto;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
footer{
    margin:auto;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}